In [11]:
import pandas as pd
import os

In [ ]:
def createData():

In [12]:
premier_league_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

prem_league_df = pd.read_html(premier_league_url)[0]
prem_columns = ["Rk", "Squad", "MP", "W", "L", "GF", "GA", "GD", "Pts", "Pts/MP", "Last 5", "Top Team Scorer"]
prem_df = prem_league_df[prem_columns]
prem_df.head()

,Rk,Squad,MP,W,L,GF,GA,GD,Pts,Pts/MP,Last 5,Top Team Scorer
0,1,Manchester City,12,9,2,32,12,20,28,2.33,L W W W D,Erling Haaland - 13
1,2,Liverpool,12,8,1,27,10,17,27,2.25,D W W D W,Mohamed Salah - 10
2,3,Arsenal,12,8,1,26,10,16,27,2.25,W D W L W,Eddie Nketiah - 5
3,4,Tottenham,12,8,2,24,15,9,26,2.17,W W W L L,Son Heung-min - 8
4,5,Aston Villa,12,8,3,29,17,12,25,2.08,D W W L W,Ollie Watkins - 6

In [13]:
def split_column(row):
    values = row['Top Team Scorer'].split('-')
    if(len(values)==2):
        return pd.Series({'Top_Team_Scorer_Name': values[0], 'Top_Team_Scorer_Num_Goals': values[1]})
    else:
        return pd.Series({'Top_Team_Scorer_Name': values[0], 'Top_Team_Scorer_Num_Goals': values[2]})

prem_df = pd.concat([prem_df, prem_df.apply(split_column, axis=1)], axis=1)
prem_df = prem_df.loc[:, prem_df.columns!='Top Team Scorer']

In [16]:
if(prem_df["MP"].nunique() == 1):
    print(True)
    folder_path = 'data'
    os.makedirs(folder_path, exist_ok=True)

    file_path = os.path.join(folder_path, "week" + str(prem_df["MP"].iloc[0]) + ".csv")
    prem_df.to_csv(file_path, index=False)
else:
    print(False)

True